.logo {
	height: 100%;
	width: 290px;
}

h1 {
	font-size: 22px;
	text-align: center;
}

.center {
	text-align: center;
}

.wimha {
	height: 90px;
	width: 90px;
}

.sencitee {
	height: 66px;
	width: 100px;
}