<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<form role="form" action="/" method="POST">
				<input type="hidden" name="email" class="form-control" id="exampleInputPassword1" />
				<div class="form-group">
					 <label for="exampleInputPassword1">Votre idée</label><input type="text" name ="text" class="form-control" id="exampleInputPassword1" />
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>